-- MySQL dump 10.13  Distrib 8.4.10, for Linux (x86_64)
--
-- Host: localhost    Database: dawanow
-- ------------------------------------------------------
-- Server version	8.4.10

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `cart`
--

DROP TABLE IF EXISTS `cart`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cart` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `total_price` decimal(38,2) DEFAULT NULL,
  `user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK9emlp6m95v5er2bcqkjsw48he` (`user_id`),
  CONSTRAINT `FKaf0wt8hgkk8v5rfpwdwq7se0t` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cart_item`
--

DROP TABLE IF EXISTS `cart_item`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cart_item` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `quantity` bigint DEFAULT NULL,
  `unit_price` decimal(10,2) NOT NULL,
  `cart_id` bigint DEFAULT NULL,
  `product_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FK1uobyhgl1wvgt1jpccia8xxs3` (`cart_id`),
  KEY `FKjcyd5wv4igqnw413rgxbfu4nv` (`product_id`),
  CONSTRAINT `FK1uobyhgl1wvgt1jpccia8xxs3` FOREIGN KEY (`cart_id`) REFERENCES `cart` (`id`),
  CONSTRAINT `FKjcyd5wv4igqnw413rgxbfu4nv` FOREIGN KEY (`product_id`) REFERENCES `product` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `category`
--

DROP TABLE IF EXISTS `category`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `category` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK46ccwnsi9409t36lurvtyljak` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `category_translation`
--

DROP TABLE IF EXISTS `category_translation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `category_translation` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `lang` varchar(5) NOT NULL,
  `name` varchar(255) NOT NULL,
  `category_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_category_translation_category_lang` (`category_id`,`lang`),
  CONSTRAINT `FKo2l26f7i3uncfy08y5196hrxd` FOREIGN KEY (`category_id`) REFERENCES `category` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `customer_orders`
--

DROP TABLE IF EXISTS `customer_orders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `customer_orders` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `date` datetime(6) NOT NULL,
  `delivery_address` varchar(255) DEFAULT NULL,
  `delivery_latitude` double NOT NULL,
  `delivery_longitude` double NOT NULL,
  `status` enum('CANCELLED','DELIVERED','OUT_FOR_DELIVERY','PENDING','PENDING_PAYMENT','PREPARING','READY_FOR_DELIVERY','READY_FOR_PICKUP') NOT NULL,
  `total_price` decimal(10,2) NOT NULL,
  `master_order_id` bigint NOT NULL,
  `offer_id` bigint NOT NULL,
  `pharmacist_id` bigint NOT NULL,
  `pharmacy_id` bigint NOT NULL,
  `request_id` bigint NOT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK128c4lnbkf9o3sodaythbtfh5` (`offer_id`),
  KEY `FK9kln9mbsdv6d4llj1hbkem51b` (`master_order_id`),
  KEY `FKc6fqt9e6ssdqs131ffp4kw7gd` (`pharmacist_id`),
  KEY `FK86hpuiwckfqpree6vl20qq6lu` (`pharmacy_id`),
  KEY `FKoeuh41ynkfrq3org8xfqtxbiy` (`request_id`),
  KEY `FKoxyh18fhdxl0enh47phl41ril` (`user_id`),
  CONSTRAINT `FK86hpuiwckfqpree6vl20qq6lu` FOREIGN KEY (`pharmacy_id`) REFERENCES `pharmacy` (`id`),
  CONSTRAINT `FK9kln9mbsdv6d4llj1hbkem51b` FOREIGN KEY (`master_order_id`) REFERENCES `master_orders` (`id`),
  CONSTRAINT `FKc6fqt9e6ssdqs131ffp4kw7gd` FOREIGN KEY (`pharmacist_id`) REFERENCES `user` (`id`),
  CONSTRAINT `FKkfvtk7e3c3ocdb5818kdxccmm` FOREIGN KEY (`offer_id`) REFERENCES `pharmacy_offer` (`id`),
  CONSTRAINT `FKoeuh41ynkfrq3org8xfqtxbiy` FOREIGN KEY (`request_id`) REFERENCES `request` (`id`),
  CONSTRAINT `FKoxyh18fhdxl0enh47phl41ril` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `device_token`
--

DROP TABLE IF EXISTS `device_token`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `device_token` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `is_active` bit(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `device_id` varchar(255) NOT NULL,
  `fcm_token` varchar(255) NOT NULL,
  `last_used_at` datetime(6) DEFAULT NULL,
  `pharmacist_id` bigint NOT NULL,
  `platform` enum('ANDROID','IOS') NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `idx_device_token_fcm_token` (`fcm_token`),
  KEY `idx_device_token_pharmacist_active` (`pharmacist_id`,`is_active`),
  KEY `idx_device_token_pharmacist_device` (`pharmacist_id`,`device_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `master_orders`
--

DROP TABLE IF EXISTS `master_orders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `master_orders` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `delivery_fee` decimal(10,2) DEFAULT NULL,
  `fulfillment_method` tinyint DEFAULT NULL,
  `order_status` enum('CANCELLED','DELIVERED','OUT_FOR_DELIVERY','PENDING','PENDING_PAYMENT','PREPARING','READY_FOR_DELIVERY','READY_FOR_PICKUP') DEFAULT NULL,
  `paid_at` datetime(6) DEFAULT NULL,
  `payment_expires_at` datetime(6) DEFAULT NULL,
  `payment_intent_id` varchar(255) DEFAULT NULL,
  `payment_method` enum('CARD','CASH') NOT NULL,
  `payment_status` enum('CANCELED','EXPIRED','FAILED','PAID','PENDING','UNPAID') DEFAULT NULL,
  `total_price` decimal(38,2) DEFAULT NULL,
  `medicine_request_id` bigint NOT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKrljceefyt53kel6ynlwlnn1ue` (`medicine_request_id`),
  UNIQUE KEY `UKruavhd0n0qexyeje6ccck3bk` (`payment_intent_id`),
  KEY `FKlwfo2wrh2r30umnnl8q45v3sb` (`user_id`),
  CONSTRAINT `FKffb3ex3395relan9jhqr8atvs` FOREIGN KEY (`medicine_request_id`) REFERENCES `request` (`id`),
  CONSTRAINT `FKlwfo2wrh2r30umnnl8q45v3sb` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`),
  CONSTRAINT `master_orders_chk_1` CHECK ((`fulfillment_method` between 0 and 1))
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `notification`
--

DROP TABLE IF EXISTS `notification`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notification` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `body` varchar(500) NOT NULL,
  `category` enum('ORDER_CREATED','PHARMACY_INVITATION','REQUEST_IN_AREA') NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `data_payload` json DEFAULT NULL,
  `title` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_notification_category` (`category`),
  KEY `idx_notification_created_at` (`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `notification_recipient`
--

DROP TABLE IF EXISTS `notification_recipient`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notification_recipient` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `pharmacist_id` bigint NOT NULL,
  `read_at` datetime(6) DEFAULT NULL,
  `retry_count` int NOT NULL,
  `sent_at` datetime(6) DEFAULT NULL,
  `status` enum('FAILED','PENDING','READ','SENT') NOT NULL,
  `notification_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_notif_recipient_notification_pharmacist` (`notification_id`,`pharmacist_id`),
  KEY `idx_notif_recipient_pharmacist_status` (`pharmacist_id`,`status`),
  KEY `idx_notif_recipient_status_created` (`status`,`created_at`),
  KEY `idx_notif_recipient_notification` (`notification_id`),
  CONSTRAINT `FKsb691ohcapb481gtapcm6humu` FOREIGN KEY (`notification_id`) REFERENCES `notification` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `order_item`
--

DROP TABLE IF EXISTS `order_item`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `order_item` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `quantity` bigint NOT NULL,
  `unit_price` decimal(10,2) NOT NULL,
  `order_id` bigint NOT NULL,
  `product_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKmkduiirt9s4xnqq08hxi9lser` (`order_id`),
  KEY `FK551losx9j75ss5d6bfsqvijna` (`product_id`),
  CONSTRAINT `FK551losx9j75ss5d6bfsqvijna` FOREIGN KEY (`product_id`) REFERENCES `product` (`id`),
  CONSTRAINT `FKmkduiirt9s4xnqq08hxi9lser` FOREIGN KEY (`order_id`) REFERENCES `customer_orders` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `pharmacist_presence`
--

DROP TABLE IF EXISTS `pharmacist_presence`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pharmacist_presence` (
  `pharmacist_id` bigint NOT NULL,
  `last_heartbeat_at` datetime(6) DEFAULT NULL,
  `is_on_duty` bit(1) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `version` bigint NOT NULL,
  PRIMARY KEY (`pharmacist_id`),
  KEY `idx_presence_on_duty_heartbeat` (`is_on_duty`,`last_heartbeat_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `pharmacy`
--

DROP TABLE IF EXISTS `pharmacy`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pharmacy` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `address` varchar(255) DEFAULT NULL,
  `latitude` double NOT NULL,
  `license_document_path` varchar(255) NOT NULL,
  `longitude` double NOT NULL,
  `name` varchar(255) NOT NULL,
  `phone_number` varchar(255) DEFAULT NULL,
  `admin_pharmacist_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK8y59xm12qogeudhboqutj6jrl` (`admin_pharmacist_id`),
  CONSTRAINT `FKbb2cyiap1vy7j7w2bk40skv1d` FOREIGN KEY (`admin_pharmacist_id`) REFERENCES `user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `pharmacy_assignment`
--

DROP TABLE IF EXISTS `pharmacy_assignment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pharmacy_assignment` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `assigned_at` datetime(6) NOT NULL,
  `distance_km` double NOT NULL,
  `status` enum('EXPIRED','OFFER_CREATED','PENDING') NOT NULL,
  `request_id` bigint NOT NULL,
  `pharmacy_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKkthx120b837xw421cgc2h74rf` (`request_id`),
  KEY `FK9guhctyi19sxk5huhy33b6aj6` (`pharmacy_id`),
  CONSTRAINT `FK9guhctyi19sxk5huhy33b6aj6` FOREIGN KEY (`pharmacy_id`) REFERENCES `pharmacy` (`id`),
  CONSTRAINT `FKkthx120b837xw421cgc2h74rf` FOREIGN KEY (`request_id`) REFERENCES `request` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `pharmacy_invitation`
--

DROP TABLE IF EXISTS `pharmacy_invitation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pharmacy_invitation` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `status` enum('ACCEPTED','CANCELLED','DECLINED','PENDING') DEFAULT NULL,
  `pharmacist_id` bigint NOT NULL,
  `pharmacy_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKn8jildlwlfq94btyr6yqno2jp` (`pharmacist_id`),
  KEY `FKfjwnruus6fvafcso21x2sqpv8` (`pharmacy_id`),
  CONSTRAINT `FKfjwnruus6fvafcso21x2sqpv8` FOREIGN KEY (`pharmacy_id`) REFERENCES `pharmacy` (`id`),
  CONSTRAINT `FKn8jildlwlfq94btyr6yqno2jp` FOREIGN KEY (`pharmacist_id`) REFERENCES `user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `pharmacy_offer`
--

DROP TABLE IF EXISTS `pharmacy_offer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pharmacy_offer` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `distance_km` double NOT NULL,
  `status` enum('ACCEPTED','EXPIRED','PARTIALLY_ACCEPTED','PENDING','REJECTED') NOT NULL,
  `total_price` decimal(38,2) DEFAULT NULL,
  `pharmacist_id` bigint DEFAULT NULL,
  `pharmacy_id` bigint NOT NULL,
  `request_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FK22x6g2mxc1ha8xn1itorj9fu7` (`pharmacist_id`),
  KEY `FK1x40y7hag118q1832blwdpfqv` (`pharmacy_id`),
  KEY `FKasydppb7r6ddp3sw0hv050tdc` (`request_id`),
  CONSTRAINT `FK1x40y7hag118q1832blwdpfqv` FOREIGN KEY (`pharmacy_id`) REFERENCES `pharmacy` (`id`),
  CONSTRAINT `FK22x6g2mxc1ha8xn1itorj9fu7` FOREIGN KEY (`pharmacist_id`) REFERENCES `user` (`id`),
  CONSTRAINT `FKasydppb7r6ddp3sw0hv050tdc` FOREIGN KEY (`request_id`) REFERENCES `request` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `pharmacy_offer_item`
--

DROP TABLE IF EXISTS `pharmacy_offer_item`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pharmacy_offer_item` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `alternative` bit(1) NOT NULL,
  `offer_id` bigint NOT NULL,
  `product_id` bigint NOT NULL,
  `request_item_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_offer_item_request_product` (`request_item_id`,`product_id`),
  KEY `FKfok2jbb7j8qdv9g6ek23rmtmt` (`offer_id`),
  KEY `FKkjbgpfal8txvm18va901m17dc` (`product_id`),
  CONSTRAINT `FK6u5elyja4sxitx3o4wyaw9cxh` FOREIGN KEY (`request_item_id`) REFERENCES `request_item` (`id`),
  CONSTRAINT `FKfok2jbb7j8qdv9g6ek23rmtmt` FOREIGN KEY (`offer_id`) REFERENCES `pharmacy_offer` (`id`),
  CONSTRAINT `FKkjbgpfal8txvm18va901m17dc` FOREIGN KEY (`product_id`) REFERENCES `product` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `product`
--

DROP TABLE IF EXISTS `product`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `product` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `company` varchar(500) NOT NULL,
  `description` varchar(2000) NOT NULL,
  `form` varchar(100) NOT NULL,
  `image_url` varchar(1000) DEFAULT NULL,
  `name` varchar(500) NOT NULL,
  `pack_size` varchar(100) DEFAULT NULL,
  `price` decimal(12,2) NOT NULL,
  `product_name` varchar(500) NOT NULL,
  `route` varchar(100) NOT NULL,
  `scientific_category` varchar(255) NOT NULL,
  `scientific_name` varchar(1000) NOT NULL,
  `strength` varchar(100) DEFAULT NULL,
  `category_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FK1mtsbur82frn64de7balymq9s` (`category_id`),
  CONSTRAINT `FK1mtsbur82frn64de7balymq9s` FOREIGN KEY (`category_id`) REFERENCES `category` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=799 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `product_embedding`
--

DROP TABLE IF EXISTS `product_embedding`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `product_embedding` (
  `product_id` bigint NOT NULL,
  `content_hash` varchar(64) NOT NULL,
  `dimensions` int NOT NULL,
  `embedded_at` datetime(6) NOT NULL,
  `embedding` mediumblob NOT NULL,
  `model` varchar(255) NOT NULL,
  `provider` varchar(50) NOT NULL,
  PRIMARY KEY (`product_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `product_translation`
--

DROP TABLE IF EXISTS `product_translation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `product_translation` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `company` varchar(500) NOT NULL,
  `consumer_category` varchar(255) NOT NULL,
  `description` varchar(2000) NOT NULL,
  `form` varchar(100) NOT NULL,
  `lang` varchar(5) NOT NULL,
  `name` varchar(500) NOT NULL,
  `pack_size` varchar(100) DEFAULT NULL,
  `product_name` varchar(500) NOT NULL,
  `route` varchar(100) NOT NULL,
  `scientific_category` varchar(255) NOT NULL,
  `scientific_name` varchar(1000) NOT NULL,
  `strength` varchar(100) DEFAULT NULL,
  `product_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_product_translation_product_lang` (`product_id`,`lang`),
  CONSTRAINT `FKq8ihrhxqednwb0h0yynpca989` FOREIGN KEY (`product_id`) REFERENCES `product` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=799 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `request`
--

DROP TABLE IF EXISTS `request`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `request` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `delivery_address` varchar(255) DEFAULT NULL,
  `delivery_latitude` double NOT NULL,
  `delivery_longitude` double NOT NULL,
  `expires_at` datetime(6) DEFAULT NULL,
  `notes` varchar(1000) DEFAULT NULL,
  `payment_method` enum('CARD','CASH') NOT NULL,
  `prescription_url` varchar(255) DEFAULT NULL,
  `status` enum('CANCELLED','COMPLETED','EXPIRED','SEARCHING') NOT NULL,
  `customer_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKfmpnrcw5de79dy75hpfer0lrt` (`customer_id`),
  CONSTRAINT `FKfmpnrcw5de79dy75hpfer0lrt` FOREIGN KEY (`customer_id`) REFERENCES `user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `request_item`
--

DROP TABLE IF EXISTS `request_item`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `request_item` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `quantity` bigint NOT NULL,
  `status` enum('ALTERNATIVE_FOUND','FOUND','NOT_FOUND') NOT NULL,
  `product_id` bigint NOT NULL,
  `request_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKrtyfreo7es5rpkasqslrpvm5v` (`product_id`),
  KEY `FKh6w6jfkr77gbapaejix7qmph7` (`request_id`),
  CONSTRAINT `FKh6w6jfkr77gbapaejix7qmph7` FOREIGN KEY (`request_id`) REFERENCES `request` (`id`),
  CONSTRAINT `FKrtyfreo7es5rpkasqslrpvm5v` FOREIGN KEY (`product_id`) REFERENCES `product` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `stripe_webhook_events`
--

DROP TABLE IF EXISTS `stripe_webhook_events`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `stripe_webhook_events` (
  `event_id` varchar(255) NOT NULL,
  `event_type` varchar(100) NOT NULL,
  `processed_at` datetime(6) NOT NULL,
  PRIMARY KEY (`event_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user` (
  `role` varchar(31) NOT NULL,
  `id` bigint NOT NULL AUTO_INCREMENT,
  `delivery_latitude` double DEFAULT NULL,
  `delivery_longitude` double DEFAULT NULL,
  `dob` date DEFAULT NULL,
  `email` varchar(255) NOT NULL,
  `first_name` varchar(255) NOT NULL,
  `home_address` varchar(255) DEFAULT NULL,
  `last_name` varchar(255) NOT NULL,
  `password` varchar(255) NOT NULL,
  `phone_number` varchar(255) NOT NULL,
  `pharmacy_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKhl4ga9r00rh51mdaf20hmnslt` (`email`),
  UNIQUE KEY `UK7h4xn7gqvj13r5qnhyqm3r3x0` (`phone_number`),
  KEY `FKlkrvpl04m84sbrbocutuusx5l` (`pharmacy_id`),
  CONSTRAINT `FKlkrvpl04m84sbrbocutuusx5l` FOREIGN KEY (`pharmacy_id`) REFERENCES `pharmacy` (`id`),
  CONSTRAINT `user_chk_1` CHECK ((`role` in (_utf8mb4'ADMIN',_utf8mb4'CUSTOMER',_utf8mb4'PHARMACIST')))
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `user_token`
--

DROP TABLE IF EXISTS `user_token`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_token` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `expiration_date` datetime(6) NOT NULL,
  `refresh_token` varchar(255) NOT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKkq5d8d98xu6ois4h7efu4lv5v` (`user_id`),
  CONSTRAINT `FKkq5d8d98xu6ois4h7efu4lv5v` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-15  5:27:09
